
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<footer class="mt-auto text-white"
        style="background-color: black; padding: 40px 0;"
        th:fragment="footer">

    <div class="container">
        <div class="row text-center text-md-start">

            <!-- Company Info -->
            <div class="col-md-4 mb-4">
                <h4 class="fw-bold" style="color: blue;">
                    StaySphere
                </h4>
                <p>Your Perfect Stay, Your Perfect Journey.</p>
            </div>

            <!-- Contact -->
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Contact Us</h5>
                <p><i class="bi bi-envelope-fill me-2" style="color:#0A66C2;"></i> StaySphere@email.com</p>
                <p><i class="bi bi-telephone-fill me-2 text-primary"></i> +91 8102940332</p>

                <p><i class="bi bi-geo-alt-fill me-2 text-primary"></i> BHAGALPUR, Bihar, India</p>
            </div>

            <!-- Social -->
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Follow Us</h5>
                <a href="https://www.linkedin.com/in/kishan-kumar123/" class="me-3">
                    <i class="bi bi-linkedin" style="color:#0A66C2;"></i>
                </a>
                <a href="https://github.com/kishan861" class="text-white me-3"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/its_me__kishan_?igsh=c2FuaHI3bHlyejNv" class="me-3">
                    <i class="bi bi-instagram" style="color:#E1306C;"></i>
                </a>
            </div>

        </div>

        <hr class="border-light">

        <div class="text-center">
            <p class="mb-0">© 2026 KISHAN KUMAR. All Rights Reserved.</p>
        </div>
    </div>
</footer>